.header{
    position: relative;
    z-index: 10;
    height: 100vh;
    background-color: $background-color;
}
.about-me{
    height: 95%;
    text-align: center;
    h1{
        font-weight: 800;
        font-size: 2rem;
    }
    p{
        font-style: italic;
        font-size: 1rem;
    }
    i{
        position: relative;
        text-align: center;
        top:18rem
    }
}
