.nav{
    width: 100vw;
    height: 3rem;
    position: fixed;
    right: 0;
    z-index: 200;
    background-color: #0E0E0E;
    i{
        font-size: 1.5rem;
    }
    i:hover{
        cursor:pointer;
    }
}
.menu{
    text-align: right;
    height: 100vh;
    width: 12rem;
    background-color:#0E0E0E;
    position: fixed;
    top: 0;
    right: -50rem;
    z-index: 100;
    a{
        color: $color-text;
        border-bottom: 1px solid $color-text;
    }
}