//colors page
$color-text:#ffffff;
$background-color:#0E0E0E;
//colors items
$color-js:rgb(234, 212, 28);
$color-html:rgb(229, 76, 33);
$color-css:rgb(20, 114, 182);
$color-sass:rgb(206, 107, 158);
$color-boostrap:rgb(116, 16, 240);
$color-ruby:rgb(163, 20, 2);
$color-java:rgb(248, 88, 42);
